.div-bornes-contenu {
  display: flex;
}

.titre-bornes {
  color: #de8516;
  position: relative;
  text-align: center;
}

.bornes-sous-titre {
  text-align: center;
}

.div-selections-bornes {
  background-color: aqua;
  width: 50%;
}

.div-selection {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

#dropdown-basic {
  overflow-wrap: break-word;
}

.bornes-formulaire {
  background-color: blueviolet;
  width: 50%;
}
