
.titre-particuliers {
    color: #de8516;
    display: block;
    text-align: center;
}

.h2-particuliers {
    display: block;
    text-align: center;
}

.social-banner {
    display: block;
    text-align: center;
}

.image1 {
    margin-right: 8%;
}

.image2 {

    margin-right: 8%;
    
}

.image3 {
    margin-right: 8%;
}

